* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family :'Chivo', sans-serif;
    font-family:'Poppins', sans-serif;
}

* ::selection {
    background: #006241;
    color: #fff;
}


.header {
    background-color: #006241;
    padding: 10px;
    box-shadow: 3px 8px 15px 0px rgba(0,0,0,0.75) ;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 30px;
}

.header__nav-link,
.header__login,
.header__logo {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.header__nav-link,
.header__login {
    display: none;
}

.header__container-user-mobile svg {
        color: white;
        font-size: 20px;
}

.header__container-usuario {
    display: none;
}

.main {
    padding: 15px 15px 60px;
    margin-top: 80px;
}

.main__title {
    font-size: 50px;
    line-height: 1.2;
}

.main__title span {
    color: #006241;
}

.main__description {
    font-weight: bolder;
    margin-top: 20px;
}

.main__contenedor-logo {
    display: none;
}

.main__container-texto {
    display: flex;
    flex-direction: column;
}

.galeria {
    background-color: #006241;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.galeria__images {
    width: 85%;
    margin-top: 15px;
}

.contact {
    background-color: rgb(12, 12, 12);
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__title {
    color: #006241;
    text-align: center;
    margin-bottom: 25px;
    font-size: 35px;
   
}

.contact__input {
    color: #fff;
}

.contact__input input,
.contact__input textarea {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 7.5px;
    border: 1px solid #006241;
}

.contact__form {
    background-color: #006241;
    padding: 15px;
    width: 90%;
    margin: 25px auto 15px;
    color: white;
}

.contact__input textarea ::placeholder,
.contact__input input ::placeholder {
    color: #006241;
    font-size: 14px;
    font-weight: bolder;
}

.contact__input {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.contact__input label {
    font-size: 14px;
}

.contact__input input:focus,
.contact__input textarea:focus {
    background: #000;
    color: #fff;
}

.contact__btn {
    background: inherit;
    width: 100px;
    border-radius: 7.5px;
    border: 2px solid #fff;
    padding: 5px 0;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    transition: all 0.5s;
    cursor: pointer;
}

.contact__btn:hover {
    background: yellow;
    color: #fff;
    border: 1px solid yellow;
}